div.nav
    div.nav-brand
        img.nav-logo(src="./images/logo_new.png")
        span Online
    div.nav-userinfo
        a(href="/login") 登录
    ul.nav-li
        li
            a(href="https://huiyan-fe.gitbooks.io/mapv/content/") API
        li
            a(href="/online") Online
    