div.nav
    div
        img(src="./logo.jpg")
    ul
        li
            a(href="#") 项目管理
        li
            a(href="#") 底图样式管理
        li
            a(href="#") 数据管理
    div
        a(href="#") 登录