<script type="text/javascript" src="./js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./js/lib/Mapv.js"></script>
<script type="text/javascript" src="./js/lib/BaiduMap_cityCenter.js"></script>
<script type="text/javascript" src="./js/lib/example.js"></script>
<script type="text/javascript" src="./js/lib/drive.js"></script>
<script type="text/javascript" src="./js/lib/randomColor.js"></script>
<script type="text/javascript" src="./js/lib/codemirror.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>