body {
    font-size: 12px;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?b4nqh');
    src:    url('../fonts/icomoon.eot?b4nqh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?b4nqh') format('truetype'),
        url('../fonts/icomoon.woff?b4nqh') format('woff'),
        url('../fonts/icomoon.svg?b4nqh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

#map {
    position: absolute;
    top: 0;
    left: 40px;
    right: 0;
    bottom: 0; 
    z-index: 0;
}

.map-nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    bottom: 0px;
    background: #222222;
    z-index: 10;
}

.map-layers {
    position: absolute;
    left: 40px;
    top: 0;
    width: 200px;
    bottom: 0px;
    background: #323232;
    z-index: 10;
}

.map-style {
    position: absolute;
    left: 240px;
    top: 0;
    width: 320px;
    bottom: 0px;
    background: #404040;
    z-index: 10;
}

.map-nav-block {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: center;
    color: #999;
    font-family: 'icomoon';
    span {
        position: absolute;
        width: 40px;
        height: 40px;
        line-height: 40px;
        left: 0;
        right: 0;
        cursor: pointer;
        transition: all 0.2s ease-out;
    }
    &:hover {
        .map-nav-icon {
            left: -40;
        }
        .map-nav-text {
            opacity: 1;
        }    
    }
    &.active {
        color: #dfdfe0;
        background: #323232;
    }
    .map-nav-icon {
        font-size: 20px;
        left: 0;
    }
    .map-nav-text {
        opacity: 0;
    }
}

.map-logo {
    height: 60px;
}

.map-layers-info {
    height: 60px;
    background: #404040;
    .map-layers-info-title {
        font-size: 12px;
        color: #eee;
        height: 28px;
        line-height: 28px;
        margin: 0 10px;
        border-bottom: 1px solid #535353;
    }

    .map-layers-opt {
        height: 30px;
        line-height: 30px;
        margin: 0 10px;
        color: #999;
        cursor: pointer;
    }

    .map-layers-opt-new {
        margin-right: 5px;
        font-weight: 10;
        font-family: 'icomoon';
    }

    
}

.map-layers-list,
.map-layers-list li {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.map-layers-list li {
    height: 25px;
    line-height: 25px;
    padding: 5px 10px;
    margin: 10px 0;
    border-left: 2px solid #666;
    color: #999;
    cursor: pointer;
    &:hover {
        background: #393939;
    }
    &.active {
        border-left: 2px solid #eee;
        color: #eee;
        background: #404040;
    }
    &.nodate {
        cursor: default;
        border-left: none;
        text-align: center;
        &:hover {
            background: none;
        }
    }

    .map-lists-show {
        display: inline-block;
        margin: 0 10px 0 0;
        font-family: 'icomoon', sans-serif;
    }
}

.map-style-info {
    padding: 0 10px;
    height: 60px;
    background: #535353;
    overflow: hidden;
    .map-style-info-name {
        height: 14px;
        line-height: 14px;
        padding: 8px 0;
        color: #fff;
        border-bottom: 1px solid #777;
    }
    .map-style-info-name-liststyle {
        border-left: 2px solid #eee;
        height: 14px;
        margin-right: 10px;
        float: left;
    }
    .map-style-info-fn{
        height: 30px;
        line-height: 30px;
        // color: #fff;
        color: #999;
    }
    .map-style-info-fn-icon {
        font-family: "icomoon";
        margin-right: 5px;
        color: #999;
    }
    .map-style-info-fn-btn {
        cursor: pointer;
        display: inline-block;
        padding: 0 20px;
        &:hover {
            background: #393939;
        }
        &.active {
            background: #404040;
        }
    }
}

.map-style-datablock {
    padding: 15px 15px 0px 15px;
    color: #999;
    line-height: 1.6em;   
}

.map-style-datatitle {
    font-family: 'icomoon';
    padding: 5px 0;
    border-bottom: 1px solid #666;
    margin-bottom: 5px; 
}

.radio-block {
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    margin: 0;
    .radio {
        overflow: hidden;
        transition: all 0.1s ease-out;
        float: left;
        width: 15px;
        height: 15px;
        background: #636363;
        border-radius: 100px;
        margin: 6px 8px 0 0;
        vertical-align: middle;
        position: relative;
        &:after{
            transition: all 0.1s ease-out;
            content: '';
            background: white;
            width: 1px;
            height: 8px;
            left: 50%;
            top: 50%;
            margin: -4px 0 0 -1px;
            position: absolute;
            transform: rotate(0deg);
            border-radius: 4px;
            opacity: 0;
        }

        &:before{
            transition: all 0.1s ease-out;
            content: '';
            background: white;
            width: 1px;
            height: 8px;
            left: 50%;
            top: 50%;
            margin: -4px 0 0 -1px;
            position: absolute;
            transform: rotate(0deg);
            border-radius: 4px;
            opacity: 0;
        }
    }
    &:hover {
        .radio {
             background: #999;
        }
    }
    &.active {
        .radio {
            background: #2e8bce;
            &:after{
                left: 50%;
                top: 50%;
                transform: rotate(45deg);
                opacity: 1;
            }

            &:before{
                left: 50%;
                top: 50%;
                transform: rotate(-45deg);
                opacity: 1;
            }
        }
    }
    
}


.map-style-optiosblock {
    padding: 10px 0 0 0;
    .options-name {
        display: inline-block;
        width: 70px;
        text-align: right;
        margin-right: 10px;
    }
}

.map-style-dataTypes {
    padding: 10px 0;
    .map-style-dataTypes-block {
        transition: all 0.2s ease-out;
        padding: 10px;
        border-radius: 4px;
        display: inline-block;
        padding: 3px 10px;
        background: #484646;
        margin: 0 10px 5px 0 ;
        width: 100px;
        cursor: pointer;
        width: 70px;
        &:nth-child(3n+3) {
            margin-right: 0;
        }
        &:hover {
            background: #535353;
        }
        &.active {
            background: #535353;
        }
    }
}