{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "external-helpers",
        ["transform-remove-console", {
            "exclude": ["error", "warn"]
        }]
    ]
}
