<%- include head/header.ejs %>
<div class="container">
    <div class="btn btn-l">
        <span class="lines line lines-arrow"></span>
    </div>
    <%- include left/left.ejs %>
    <!-- end of left -->
    <div class="right r-trf">
        <div class="allexamples">
            <div class="all-inner">
                <div class="item">
                    <img src="./imgs/point_simple.jpg" alt="point_simple"/>
                    <p>普通大点</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_heatmap.jpg" alt="point_heatmap"/>
                    <p>热力图</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_density_rect.jpg" alt="point_density_rect"/>
                    <p>方形网格密度</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_density_honeycomb.jpg" alt="point_density_honeycomb"/>
                    <p>蜂窝形密度</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_bubble.jpg" alt="point_bubble"/>
                    <p>按大小展示</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_cluster.jpg" alt="point_cluster"/>
                    <p>点聚合效果</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_category.jpg" alt="point_category"/>
                    <p>按值进行颜色分类</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_choropleth.jpg" alt="point_choropleth"/>
                    <p>按值区间进行颜色分类</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_intensity.jpg" alt="point_intensity"/>
                    <p>按渐进颜色进行分类</p>
                </div>
                <div class="item">
                    <img src="./imgs/polygon_intensity.jpg" alt="polygon_intensity"/>
                    <p>多边形按渐进颜色进行分类</p>
                </div>
                <div class="item">
                    <img src="./imgs/polyline_simple.jpg" alt="polyline_simple"/>
                    <p>折线普通展示</p>
                </div>
                <div class="item">
                    <img src="./imgs/polyline_simple_animation.jpg" alt="polyline_simple_animation"/>
                    <p>折线动画</p>
                </div>
                <div class="item">
                    <img src="./imgs/polygon_choropleth.jpg" alt="polygon_choropleth"/>
                    <p>多边形按分值区间进行颜色分类</p>
                </div>
                <div class="item">
                    <img src="./imgs/point_webgl_simple.jpeg" alt="polygon_choropleth"/>
                    <p>叠加大数据量小点（30多万）</p>
                </div>
                <div class="item">
                    <img src="./imgs/polygon_boundary.png" alt="polygon_boundary"/>
                    <p>按行政区域展示</p>
                </div>
                <div class="item">
                    <img src="./imgs/polyline_simple_time.jpeg" alt="polyline_simple_time"/>
                    <p>按时间展示线数据</p>
                </div>
                <div class="item">
                    <img src="./imgs/polyline_heatmap.jpeg" alt="polyline_heatmap"/>
                    <p>线的热力效果</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end of right -->
</div>
<!-- end of .container -->
<%- include foot/footer.ejs %>
