<%- include head/header.ejs %>
<div class="container">
    <div class="btn btn-l">
        <span class="lines line lines-arrow"></span>
    </div>
    <div class="btn btn-r">源码</div>
    <%- include left/left.ejs %>
    <!-- end of left -->
    <%- include right/right.ejs %>
    <!-- end of right -->
</div>
<!-- end of .container -->
<%- include foot/footer.ejs %>
