<script type="text/javascript" src="./js/lib/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="./js/lib/codemirror.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
</body>
</html>