extend ../../system/jade/layout.jade

block css
    link(href="/css/online/index.css" rel="stylesheet")
block content
    include ../../system/jade/nav.jade
    .online
        .online-side
            .online-side-block
                a.online-side-link.active(href="/online/projects")
                    span.online-side-icon &#xe871; 
                    span Projects
                a.online-side-link(href="/online/theme")
                    span.online-side-icon &#xe80b; 
                    span Map Theme
        .online-body
            - for(var i=0;i<10;i++)
                a(href="/online/editor/3fd")
                    .online-body-block
                        .online-body-title Demo项目
            
    .copyright
        .copyright-info Copyright (C) MapV. All Rights Reserved.