extends layout

block content
    #map
block css
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/edit.css')
block js
    script(type='text/javascript', src='http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js')
    script(type='text/javascript', src='http://api.map.baidu.com/api?v=2.0&ak=1XjLLEhZhQNUzd93EjU5nOGQ')
    script(type='text/javascript', src='/javascripts/Mapv.js')
    script(type='text/javascript', src='/javascripts/edit/require.js')
    script(type='text/javascript', src='/javascripts/edit/edit.js')
