<div class="left l-trf">
    <div class="nav">
        <ul>
            <li><a class="index" href="index.html">实例快照</a></li>
            <li><a class='point_simple' href="point_simple.html">普通大点</a></li>
            <li><a class='point_heatmap' href="point_heatmap.html">热力图</a></li>
            <li><a class='point_density_rect' href="point_density_rect.html">方形网格密度</a></li>
            <li><a class='point_density_honeycomb' href="point_density_honeycomb.html">蜂窝形密度</a></li>
            <li><a class='point_bubble' href="point_bubble.html">按大小展示</a></li>
            <li><a class='point_cluster' href="point_cluster.html">点聚合效果</a></li>
            <li><a class='point_category' href="point_category.html">按值进行颜色分类</a></li>
            <li><a class='point_choropleth' href="point_choropleth.html">按值区间进行颜色分类</a></li>
            <li><a class='point_intensity' href="point_intensity.html">按渐进颜色进行分类</a></li>
            <li><a class='polygon_intensity' href="polygon_intensity.html">多边形按渐进颜色进行分类</a></li>
            <li><a class='polyline_simple' href="polyline_simple.html">折线普通展示</a></li>
            <li><a class='polyline_simple_animation' href="polyline_simple_animation.html">折线动画</a></li>
            <li><a class='polygon_choropleth' href="polygon_choropleth.html">多边形按分值区间进行颜色分类</a></li>
            <li><a class='point_webgl_simple' href="point_webgl_simple.html">叠加大数据量小点(30多万)</a></li>
            <li><a class='polygon_boundary' href="polygon_boundary.html">按行政区域展示</a></li>
            <li><a class='polyline_simple_time' href="polyline_simple_time.html">按时间展示线数据</a></li>
            <li><a class='polyline_heatmap' href="polyline_heatmap.html">线的热力效果</a></li>
        </ul>
    </div>
</div>