<div class="left l-trf">
    <div class="nav">
        <ul>
            <li><a href="" class="examples">实例快照</a>
                <ul>
                    <li><a class='point_simple' href="">普通大点</a></li>
                    <li><a class='point_heatmap' href="">热力图</a></li>
                    <li><a class='point_density_rect' href="">方形网格密度</a></li>
                    <li><a class='point_density_honeycomb' href="">蜂窝形密度</a></li>
                    <li><a class='point_bubble' href="">按大小展示</a></li>
                    <li><a class='point_cluster' href="">点聚合效果</a></li>
                    <li><a class='point_category' href="">按值进行颜色分类</a></li>
                    <li><a class='point_choropleth' href="">按值区间进行颜色分类</a></li>
                    <li><a class='point_intensity' href="">按渐进颜色进行分类</a></li>
                    <li><a class='polygon_intensity' href="">多边形按渐进颜色进行分类</a></li>
                    <li><a class='polyline_simple' href="">折线普通展示</a></li>
                    <li><a class='polyline_simple_animation' href="">折线动画</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>