<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mapv</title>
    <link rel='stylesheet' href='./css/index.css' />
    <link rel="stylesheet" href="./css/style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=mEgbC3vGaaPnAxDeeHUollEZ"></script>
</head>
<body>
