<div class="right r-trf">


	<div class="code">
		<textarea name="code" id="code"></textarea>
	</div>

	<div class="effect effect-r">
        <!--<div id="map" ></div>-->
		<iframe src="./iframes/point_simple.html" frameborder="0" name="iframes" id="iframes"></iframe>
	</div>

</div>