html,body{
    margin:0;
    width:100%;
    height:100%;
    background:#333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

#map{
    width:100%;
    height:100%;
}

.BMap_cpyCtrl{
    display:none;
}

#panel{
    list-style:none;
    position:absolute;
    left:10px;
    top:10px;
    padding:0;
    margin:0;
}

#panel li{
    padding:0;
    margin:0;
    cursor:pointer;
    margin:1px 0;
    color:#fff;
    padding:5px;
    background:rgba(0, 0, 0, 0.5);
}

#panel li.current{
    background:rgba(0, 0, 255, 0.5);
}
