extend ../system/jade/layout.jade

block css
    link(href="/css/index.css" rel="stylesheet")
block content
    include ../system/jade/nav.jade
    div.slide
        div.slide-cover
            div.slide-title 
                div.slide-title-h1 
                    img(src="/images/logo_new.png")
                div
                    span.slide-title-h2 迄今为止，最先进的地图大数据展示方案
                div.slide-title-h3 mapv 让你以最便捷的方式，展示惊艳的数据，Beta版本现已全面开放
                div.slide-title-button
                    button 使用JS API
                    button 使用Online
        div.slide-next &#xe5cf;
        div.slide-page(style="background-image:url('/images/slide-1.png')")
    div.slide-two
        div.slide-sub-title JS API
        div.slide-sub-h3 使用JS API，可以很方便的通过JavaScript在您的网站或者任何可以执行JavaScript的高级浏览器中，编写你想要的展示样式，让创意的火花瞬间爆发。
        div.slide-api
            img(src="/images/api-intro-1.png")
        div.slide-button
            a 了解更多
    div.slide-three
        div.slide-sub-title MapV online
        div.slide-sub-h3 即便您不知道如何使用JavaScript，MapV online也可以让您简单的通过拖拽、点击鼠标完成炫酷的效果
        div.slide-api
            img(src="/images/online-intro.png")
        div.slide-button
            a 立即使用