extend ../system/jade/layout.jade

block css
    link(href="/css/index.css" rel="stylesheet")
block content
    include ../system/jade/nav.jade
    div.slide
        div.slide-cover
            div.slide-title 
                div.slide-title-h1 Mapv 
                div
                    span.slide-title-h2 全新的地图大数据展示方案，现已开放公测
                div.slide-title-button
                    button 使用JS API
                    button 使用Online
        div.slide-page(style="background-image:url('/images/slide-1.png')")