html
    head
        title mapv编辑器
        link(href="../css/index.css" type="text/css" rel="stylesheet")
    body
        #container
        script(src="http://api.map.baidu.com/api?v=2.0&ak=UWjHTk9MC0DcZnP9KGRiciQv")
        script(src='../js/app.js')